.centralizarVertical{
    vertical-align: inherit;
}

#colunaTarefa{
    width: 970px;
}

#colunaConclusao{
    width: 100px;
}

.formatarBotoes{
    text-align: center;
}

#botaoRemove{
    margin: 5px;
}

.sucess {
    background-color: rgb(208, 247, 208);
    text-decoration: line-through;
}
