<h1 class="centralizar">Listar Tarefas</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="centralizarVertical" id="colunaTarefa" scope="col">Tarefa</th>
            <th class="centralizarVertical" id="colunaConclusao" scope="col">Concluída</th>
            <th class="centralizar" scope="col">
                <a [routerLink]="['/tarefas/cadastrar']" type="button" class="btn btn-success btn-sm">
                    <span class="iconPersonalizado">+</span> Novo 
                </a>
            </th>
        </tr>
    </thead>
    <tbody id="teste">
        <tr *ngFor="let tarefa of tarefas" >
            <td class="centralizarVertical" [class.sucess]="tarefa.concluida">
                {{tarefa.nome}}
            </td>
            <td class="centralizar centralizarVertical">
                <input type="checkbox" [value]="tarefa.id" [checked]="tarefa.concluida" [class.sucess]="tarefa.concluida"
                        (click)="alterarStatus(tarefa)">
            </td>
            <td class="formatarBotoes">
                <a [routerLink]="['/tarefas/editar', tarefa.id]" type="button" class="btn btn-info btn-sm">
                    <span class="iconPersonalizado">*</span> Editar 
                </a>
                <button (click)="remover($event, tarefa)" id="botaoRemove" 
                        type="submit" class="btn btn-danger btn-sm">
                    <span class="iconPersonalizado">x</span> Remover 
                </button>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="tarefas.length==0">Nenhuma tarefa foi cadastrada.</p>
