.formatarCardPrincipal {
    background-color: #f8f9fa;
}

.formatarCardErro {
    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: -30px;

    background-color: rgb(248, 183, 183);
    
    font-style: italic;
}

.formatarBotoes {
    text-align: center; 
    margin-bottom: 10px;
}

p {
    color: rgb(153, 51, 51);
}