<div>   
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">{{titulo}}</a>
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
    <footer class="card-footer text-muted footer">Criado por, Matheus Glauber</footer>
</div>
