<h1 class="centralizar">Editar Tarefa</h1>
<div class="card formatarCardPrincipal">
    <form #formTarefa="ngForm" action="">
        <div class="card-body">
        <h5 class="card-title">Tarefa: </h5>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="nome" name="nome" minlength="5" maxlength="130" 
            required [(ngModel)]="tarefa.nome" #nome='ngModel'>
        </div>
        </div>
        <div *ngIf="nome.errors && (nome.dirty || nome.touched)" 
            class="card text-white mb-3 formatarCardErro">
            <div class="card-body">
                <p [hidden]="!nome.errors.required" class="card-text">
                    Digite a tarefa.
                </p>
                <p [hidden]="!nome.errors.minlength" class="card-text">
                    A tarefa deve conter ao menos 5 caracteres.
                </p>
                <p [hidden]="nome.errors.maxlength" class="card-text">
                    A tarefa deve conter no máximo 130 caracteres.
                </p>
            </div>
        </div>
        <div class="formatarBotoes">
            <button type="submit" class="btn btn-success" (click)="atualizar()" value="Atualizar"
                    [disabled]='!formTarefa.form.valid'>
                Atualizar 
            </button>
            <a [routerLink]="['/tarefas/listar']" type="button" 
                    class="btn btn-outline-secondary" style="margin-left: 5px;">
                <span class="iconPersonalizado">&lt;</span> Voltar
            </a>
        </div>  
    </form>
</div>
